<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--</beans>-->
<!--<!DOCTYPEmapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserDAO">
<insert id="addUser">
    insert into user(uid,upassword,uname,ugender,utelephone,elecCharge) values (#{uid}, #{upassword}, #{uname}, #{ugender}, #{utelephone},#{elecCharge})
</insert>

<select id="getUserByName" resultType="org.example.mapper.UserDAO">
    SELECT
    uid,
    upassword,
    uname,
    ugender,
    utelephone,
    elecCharge
    FROM
    user
    WHERE
    uname = #{uname}
</select>
</mapper>
