<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="elecBrakeDayMapper">
    <insert id="insertElecBrakeDay" parameterType="org/example/entity/ElecBrake">
        INSERT INTO elecBrakeDay(zid,uid,status,u,i,p,w,t) values (#{zid},#{uid},#{status},#{u},#{i},#{p},#{w},#{t});
    </insert>
    <delete id="deleteElecBrakeDay" parameterType="org/example/entity/ElecBrake">

        DELETE FROM elecBrakeDay WHERE (zid=#{zid} AND uid=#{uid});
    </delete>
    <update id="updateElecBrakeDay" parameterType="org/example/entity/ElecBrake">
        UPDATE elecBrakeDay
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">status=#{status}</if>
            <if test="u!=null">u=#{u},</if>
            <if test="i!=null">i=#{i},</if>
            <if test="p!=null">p=#{p},</if>
            <if test="w!=null">w=#{w},</if>
            <if test="t!=null">t=#{t}</if>
        </trim>
        WHERE (zid=#{zid} AND uid=#{uid});
    </update>
    <select id="selectElecBrakeDay" resultType="org/example/entity/ElecBrake">
        SELECT * FROM elecBrakeDay WHERE (zid=#{zid} AND uid=#{uid});
    </select>
    <select id="selectAll" resultType="org/example/entity/ElecBrake">
        SELECT * FROM elecBrakeDay;
    </select>

</mapper>